{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<main class="w-full relative top-24 my-4 flex justify-center">
    <div class="relative bg-white w-100 p-10 rounded-xl shadow-md">
        <h1 class="text-xl font-bold text-center">Password Reset</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="pt-4 pb-2 italic text-xl">We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
        <label for="" class="absolute top-4 right-5 text-lg cursor-pointer hover:text-blue-400">
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd" />
                </svg>
            </a>
        </label>
    </div>
</main>
{% endblock %}
