{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<main class="w-full relative top-24 my-4 flex justify-center">
    <div class="relative bg-white w-100 p-10 rounded-xl shadow-md">
        <h1 class="text-xl font-bold text-center">Password Reset</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="pt-4 pb-2 italic">Forgotten your password? Enter your e-mail address below, and we'll send you an
            e-mail allowing you to reset
            it.</p>

        <label for="" class="absolute top-4 right-5 text-lg cursor-pointer hover:text-blue-400">
            <a href="{{request.GET.next}}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd" />
                </svg>
            </a>
        </label>
        <form method="POST" action="{% url 'account_reset_password' %}?next={{request.GET.next|urlencode}}" class="password_reset">
            {% csrf_token %}
            <div class="relative w-full h-10 my-4">
                <input type="email" name="email" placeholder="E-mail address" class="
                    w-full
                    h-full
                    border border-gray-300
                    rounded-xl
                    outline-none
                    py-1
                    pr-3
                    pl-10
                    focus:shadow-md
                  " autocomplete="email" id="id_email" required />
                <div class="h-full absolute top-0 left-0 border-r p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                    </svg>
                </div>
            </div>
            <div class="my-8 h-10 relative overflow-hidden rounded-md">
                <div class=" w-full h-full absolute -z-1"></div>
                <button type="submit" class="
                    h-full
                    w-full
                    font-semibold
                    text-lg
                    uppercase
                    tracking-wide
                    border-none
                    outline-none
                    focus:outline-none
                    bg-gradient-to-r
                    from-green-400
                    to-blue-400
                    hover:from-pink-400
                    hover:to-yellow-400">
                    Reset my password
                </button>
            </div>
        </form>

        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
</main>
{% endblock %}