{% extends 'base.html' %}
{% load i18n %}
{% load videos_extra %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}
<main class="w-full relative top-24 mt-4 flex justify-center">
  <div class="
      relative
      bg-white
      w-100
      p-10
      rounded-xl
      shadow-md
    ">
    <label for="" class="absolute top-4 right-5 text-lg cursor-pointer hover:text-blue-400"><a
        href="{{request.GET.next}}"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
          fill="currentColor">
          <path fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd" />
        </svg></a></label>
    <div class="text-xl font-bold text-center">Sign Up</div>
    <form action="{% url 'account_signup' %}?next={{request.GET.next|urlencode}}" class="signup" id="signup_form"
      method="post">
      {% csrf_token %}
      <div class="relative w-full h-10 my-4">
        <input type="email" placeholder="E-mail address" name="email" autocomplete="email" minlength="1" id="id_email"
          class="
            w-full
            h-full
            border border-gray-300
            rounded-xl
            outline-none
            py-1
            pr-3
            pl-10
            focus:shadow-md
          " required />
        <div class="h-full absolute top-0 left-0 border-r p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
          </svg>
        </div>
      </div>
      <div class="relative w-full h-10 my-4">
        <input type="text" placeholder="Username" name="username" autocomplete="username" minlength="1" id="id_username"
          class="
            w-full
            h-full
            border border-gray-300
            rounded-xl
            outline-none
            py-1
            pr-3
            pl-10
            focus:shadow-md
          " required />
        <div class="h-full absolute top-0 left-0 border-r p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
          </svg>
        </div>
      </div>
      <div class="relative w-full h-10 my-4">
        <input type="password" name="password1" id="id_password1" placeholder="Password" autocomplete="new-password"
          class="
            w-full
            h-full
            border border-gray-300
            rounded-xl
            outline-none
            py-1
            pr-3
            pl-10
            focus:shadow-md
          " required />
        <span toggle="#id_password1" class="absolute right-0 top-0 m-2 toggle-password">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
            <path fill-rule="evenodd"
              d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
              clip-rule="evenodd" />
          </svg>
        </span>
        <div class="h-full absolute top-0 left-0 border-r p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
              d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
              clip-rule="evenodd" />
          </svg>
        </div>
      </div>
      <div class="relative w-full h-10 my-4">
        <input type="password" name="password2" id="id_password2" placeholder="Password (again)" class="
            w-full
            h-full
            border border-gray-300
            rounded-xl
            outline-none
            py-1
            pr-3
            pl-10
            focus:shadow-md
          " required />
        <span toggle="#id_password2" class="absolute right-0 top-0 m-2 toggle-password">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
            <path fill-rule="evenodd"
              d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
              clip-rule="evenodd" />
          </svg>
        </span>
        <div class="h-full absolute top-0 left-0 border-r p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
              d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
              clip-rule="evenodd" />
          </svg>
        </div>
      </div>
      <div class="my-8 h-10 relative overflow-hidden rounded-md">
        <div class="
            w-full
            h-full
            absolute
            -z-1
          "></div>
        <button type="submit" class="
            h-full
            w-full
            font-semibold
            text-lg
            uppercase
            tracking-wide
            border-none
            outline-none
            focus:outline-none
            bg-gradient-to-r
            from-green-400
            to-blue-400
            hover:from-pink-400
            hover:to-yellow-400
          ">
          sign up
        </button>
      </div>
      <div class="text-center">
        Already have an account?
        <a href="{{ login_url }}" class="text-blue-400 font-semibold">Login</a>
      </div>
    </form>
  </div>
</main>
{% endblock %}