{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<main class="w-full relative top-24 my-4 flex justify-center">
    <div class="relative bg-white w-100 p-10 rounded-xl shadow-md">
        <h1 class="text-xl font-bold text-center">Verify Your E-mail Address</h1>
        <p class="pt-4 pb-2 italic text-xl">We have sent an e-mail to you for verification. Follow the link provided to
            finalize the signup process. Please contact us if you do not receive it within a few minutes.</p>
    </div>
</main>

{% endblock %}