{%extends 'base.html'%}
{%load static%}
{% load custom_tags %}
{%block content%}
<main class="w-full relative top-24 mt-4 overflow-hidden">
  <div class="xl:w-292.5 lg:w-242.5 md:w-187.5 mx-auto px-4">
    {%block content_channel%}
    {% if channel.visibility == False %}
    <div class="bg-white text-3xl font-bold capitalize tracking-wide p-10 rounded text-center text-red-400">This Channel
      has been blocked !!!</div>
    {%else%}
    <div class="flex space-x-4">
      <div class="py-4">
        <div class="bg-primarybgu px-4 py-2 border-b border-gray-200">
          <span>{{channel.name}}</span>
        </div>
        <div class="bg-white px-4 py-2 mb-4">
          <div class="flex pb-2 justify-start space-x-4">
            <div class="avatar-channel">
              <div class="bg-red-400 rounded mb-2 p-1 text-center text-white text-sm font-semibold">
                {{views_point}} Coin
              </div>
              <div class="rounded overflow-hidden"><img src="{{channel.avatar.url}}" alt=""
                  class="w-full h-30 object-cover" /></div>
              {%if not mychannel%}
              <form action="{%url 'subcriber' channel.slug 'channel' %}" method="POST"
                class="subcriber-form rounded-lg overflow-hidden m-auto mt-2">
                {%csrf_token%}
                {%if user in channel.subcribers.all%}
                <button type="submit" id="sub-btn" name="channel_id" value="{{channel.id}}"
                  class="w-full sub-btn px-3 py-2 bg-gray-500 text-white font-medium text-l border focus:outline-none flex justify-center capitalize">
                  <svg xmlns="http://www.w3.org/2000/svg" class="sub-icon h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                  </svg><span id="sub-text">Subcribed</span></button>
                {%else%}
                <button type="submit" id="sub-btn" name="channel_id" value="{{channel.id}}"
                  class="w-full sub-btn px-3 py-2 bg-red-700 text-white font-medium text-l border focus:outline-none flex justify-center capitalize">
                  <svg xmlns="http://www.w3.org/2000/svg" class="hidden sub-icon h-6 w-6" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                  </svg><span id="sub-text">Subcribe</span></button>
                {%endif%}
              </form>
              {%else%}
              <div class="bg-green-600 hover:bg-green-700 rounded mt-2 p-1 text-center text-white text-sm font-medium">
                <a href="{%url 'channel_edit' channel.slug%}">Edit Profile</a>
              </div>
              {%endif%}
            </div>
            <div class="w-1/2 flex-shrink-0">
              <ul class="tracking-wide">
                <li class="pb-2"><span>{{channel.channel_video.all.count}} Videos</span></li>
                <li class="pb-2"><span id="sub-count">{{channel.subcribers.all.count}} Subcribers</span></li>
                <li class="pb-2">Joined: <span>{{channel.created_at|timesince}} ago</span></li>
                <li class="pb-2">Last Login: <span>{{last_login|timesince}} ago</span></li>
              </ul>
            </div>
          </div>
        </div>
        {%if not mychannel%}
        <div class="bg-primarybgu px-4 py-2 border-b border-gray-200">
          <span>Another actions</span>
        </div>
        <div class="bg-white px-4 py-2">
          <ul class="text-sm font-semibold leading-8 pb-2 flex justify-start">
            <li>
              <a href="#open-report-form" class="text-blue-400" id="open-report-form">Report user</a>
            </li>
          </ul>
          <div class="hidden" id="report-area">
            <div class="flex justify-between text-lg">
              <div>Report User</div>
              <a href="#close-report-form" id="close-report-form">×</a>
            </div>
            <form action="{%url 'report_channel' channel.slug%}"
              class="report-form m-auto my-2 flex-col items-center space-y-2">
              {%csrf_token%}
              <div class="radio">
                <label>
                  <input type="radio" name="report-reason" id="report-reason" value="Spam" class="mx-2 checked" />Spam
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="report-reason" id="report-reason" value="Other" class="mx-2" />Other
                </label>
              </div>
              <textarea name="other-reason" id="other-reason" rows="3"
                class="hidden w-full border border-black resize-none rounded py-2 px-3 mx-2"
                placeholder="Other reason..."></textarea>
              <button class="report-mes hidden mx-2 py-2 px-3 rounded font-medium focus:outline-none"></button>
              <button type="submit" id="btn-send-report" value="{{channel.slug}}"
                class="block py-2 px-3 rounded bg-blue-500 hover:bg-blue-600 text-white mx-2 font-medium focus:outline-none">Send
                Report</button>
            </form>
          </div>
        </div>
        {%endif%}
      </div>
      <div class="w-2/3 py-4 flex-shrink-0">
        {%block main%}
        <div class="bg-primarybgu px-4 py-2 border-b border-gray-200 flex justify-between">
          <div>Videos</div>
          {%if videos%}
          {% if videos.paginator.num_pages > 1 %}
          <div class="pagination">
            <span class="step-links flex items-center justify-center">
              {% if videos.has_previous %}
              <a href="{%url 'channel' channel.slug%}?page=1"
                class="px-2 border border-gray-400 hover:bg-gray-300 delay-75 rounded-tl rounded-bl">&laquo;</a>
              <!-- <a href="{%url 'channel' channel.slug%}?page={{ videos.previous_page_number }}"
                            class="px-2 border border-gray-400 hover:bg-gray-300">Previous</a> -->
              {% endif %}

              {% for page in videos.paginator.num_pages|times %}
              {%if videos.number == page %}
              <a href="{%url 'channel' channel.slug%}?page={{ page }}"
                class="px-2 border border-gray-400 text-white1 bg-green-500">{{page}}</a>
              {%else%}
              <a href="{%url 'channel' channel.slug%}?page={{ page }}"
                class="px-2 border border-gray-400 hover:bg-gray-300 delay-75">{{page}}</a>
              {%endif%}
              {%endfor%}

              {% if videos.has_next %}
              <!-- <a href="{%url 'channel' channel.slug%}?page={{ videos.next_page_number }}"
                            class="px-2 border border-gray-400 hover:bg-gray-300">Next</a> -->
              <a href="{%url 'channel' channel.slug%}?page={{ videos.paginator.num_pages }}"
                class="px-2 border border-gray-400 hover:bg-gray-300 delay-75 rounded-tr rounded-br">&raquo;</a>
              {% endif %}
            </span>
          </div>
          {%endif%}
          {%endif%}
        </div>
        {%if videos%}
        {%if mychannel %}
        <div class="bg-white px-4 py-2 grid grid-cols-1 xl:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4 mb-8">
          {%for video in videos%}
          <div class="items bg-white rounded shadow-md">
            <div class="relative overflow-hidden">
              <a href="{{video.get_absolute_url}}">
                <img src="{{video.video_detail.thumbnail.url}}" alt="" class="w-full h-48 object-cover" />
                <div
                  class="bg-black text-white font-semibold text-sm rounded-lg absolute bottom-0 right-0 m-1 py-1 px-2">
                  {{video.video_detail.durations}}
                </div>
                <div
                  class="bg-red-200 py-1 px-2 m-1 rounded-lg absolute font-semibold top-0 left-0 text-xs flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="mr-1 h-4 w-4 inline-block text-red-500"
                    viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                      clip-rule="evenodd" />
                  </svg><span class="love-text">{{video.favorite_percent}}%</span>
                </div>
                <div class="absolute top-0 right-0 flex">
                  <form action="{% url 'edit_myvideos' video.id %}" method="POST" class="m-auto">
                    {%csrf_token%}
                    <input type="submit" value="Edit"
                      class="m-1 bg-green-600 hover:bg-green-700 text-white font-semibold text-sm rounded-lg py-1 px-3 cursor-pointer">
                  </form>
                  <form action="{%url 'del_myvideos'%}" class="form-del-myvideos m-auto">
                    {%csrf_token%}
                    <input type="hidden" name="id-myvideos" class="id-myvideos" value="{{video.id}}">
                    <input type="submit" name="btn-del-myvideos" value="Delete"
                      class="btn-del-myvideos m-1 bg-red-600 hover:bg-red-700 text-white font-semibold text-sm rounded-lg py-1 px-2 cursor-pointer">
                  </form>
                </div>
              </a>
            </div>
            <div class="py-2 px-1 flex-col justify-center break-all">
              {% if video.video_detail.title|length > 65 %}
              <div class="font-semibold capitalize tooltip hover:underline"><a
                  href="{{video.get_absolute_url}}">{{video.video_detail.title|truncatechars:65}}</a>
                <p class="tooltiptext text-sm bg-gray-700 text-white py-2 px-3 rounded-lg">{{video.video_detail.title}}
                </p>
              </div>
              {%else%}
              <div class="font-semibold capitalize hover:underline"><a href=" {{video.get_absolute_url}}">
                  {{video.video_detail.title}}</a></div>
              {%endif%}
              <div class="flex text-xs">
                <div class="text-gray-500 flex-shrink-0">{{video.view_count.count}} views</div>
                <div>&nbsp;&bull;&nbsp;</div>
                <div class="flex-shrink-0">{{video.uploaded|timesince}} ago</div>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
        {%else%}
        <div class="bg-white px-4 py-2 grid grid-cols-1 xl:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4 mb-8">
          {%for video in videos|sort_by:'-uploaded'%}
          <div class="bg-white rounded shadow-md">
            <div class="relative overflow-hidden">
              <a href="{{video.get_absolute_url}}">
                <img src="{{video.video_detail.thumbnail.url}}" alt="" class="w-full h-48 object-cover" />
                <div
                  class="bg-black text-white font-semibold text-sm rounded-lg absolute bottom-0 right-0 m-1 py-1 px-2">
                  {{video.video_detail.durations}}
                </div>
                <div
                  class="bg-red-200 py-1 px-2 m-1 rounded-lg absolute font-semibold top-0 left-0 text-xs flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="mr-1 h-4 w-4 inline-block text-red-500"
                    viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                      clip-rule="evenodd" />
                  </svg><span class="love-text">{{video.favorite_percent}}%</span>
                </div>
              </a>
            </div>
            <div class="py-2 px-1 flex-col justify-center break-all">
              {% if video.video_detail.title|length > 65 %}
              <div class="font-semibold capitalize tooltip hover:underline"><a
                  href="{{video.get_absolute_url}}">{{video.video_detail.title|truncatechars:65}}</a>
                <p class="tooltiptext text-sm bg-gray-700 text-white py-2 px-3 rounded-lg">{{video.video_detail.title}}
                </p>
              </div>
              {%else%}
              <div class="font-semibold capitalize hover:underline"><a href=" {{video.get_absolute_url}}">
                  {{video.video_detail.title}}</a></div>
              {%endif%}
              <div class="flex text-xs">
                <div class="text-gray-500 flex-shrink-0">{{video.view_count.count}} views</div>
                <div>&nbsp;&bull;&nbsp;</div>
                <div class="flex-shrink-0">{{video.uploaded|timesince}} ago</div>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
        {%endif%}
        {%else%}
        <div class="bg-white px-4 py-2 mb-8 text-xl tracking-wide rounded">Do not have any videos...</div>
        {%endif%}

        <div class=" bg-primarybgu px-4 py-2 border-b border-gray-200 flex justify-between">
          <div>Playlist</div>
          {%if videos_in_playlist%}
          {% if videos_in_playlist.paginator.num_pages > 1 %}
          <div class="pagination">
            <span class="step-links flex items-center justify-center">
              {% if videos_in_playlist.has_previous %}
              <a href="{%url 'channel' channel.slug%}?pages=1"
                class="px-2 border border-gray-400 hover:bg-gray-300 delay-75 rounded-tl rounded-bl">&laquo;</a>
              {% endif %}
              {% for page in videos_in_playlist.paginator.num_pages|times %}
              {%if videos_in_playlist.number == page %}
              <a href="{%url 'channel' channel.slug%}?pages={{ page }}"
                class="px-2 border border-gray-400 text-white1 bg-green-500">{{page}}</a>
              {%else%}
              <a href="{%url 'channel' channel.slug%}?pages={{ page }}"
                class="px-2 border border-gray-400 hover:bg-gray-300 delay-75">{{page}}</a>
              {%endif%}
              {%endfor%}

              {% if videos_in_playlist.has_next %}
              <a href="{%url 'channel' channel.slug%}?pages={{ videos_in_playlist.paginator.num_pages }}"
                class="px-2 border border-gray-400 hover:bg-gray-300 delay-75 rounded-tr rounded-br">&raquo;</a>
              {% endif %}
            </span>
          </div>
          {%endif%}
          {%endif%}
        </div>
        {%if videos_in_playlist%}
        {%if mychannel%}
        <div class="bg-white px-4 py-2 grid grid-cols-1 xl:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4 mb-8">
          {%for video in videos_in_playlist%}
          <div class="items bg-white rounded shadow-md">
            <div class="relative overflow-hidden">
              <a href="{{video.get_absolute_url}}">
                <img src="{{video.video_detail.thumbnail.url}}" alt="" class="w-full h-48 object-cover" />
                <div
                  class="bg-black text-white font-semibold text-sm rounded-lg absolute bottom-0 right-0 m-1 py-1 px-2">
                  {{video.video_detail.durations}}
                </div>
                <div
                  class="bg-red-200 py-1 px-2 m-1 rounded-lg absolute font-semibold top-0 left-0 text-xs flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="mr-1 h-4 w-4 inline-block text-red-500"
                    viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                      clip-rule="evenodd" />
                  </svg><span class="love-text">{{video.favorite_percent}}%</span>
                </div>
                <form action="{%url 'remove_videos_playlist'%}"
                  class="form-remove-videos-playlist m-auto absolute top-0 right-0">
                  {%csrf_token%}
                  <input type="hidden" name="id-videos-playlist" class="id-videos-playlist" value="{{video.id}}">
                  <input type="submit" name="btn-remove-videos-playlist" value="Remove"
                    class="btn-remove-videos-playlist m-1 bg-red-600 hover:bg-red-700 text-white font-semibold text-sm rounded-lg py-1 px-2 cursor-pointer">
                </form>
              </a>
            </div>
            <div class="py-2 px-1 flex-col justify-center break-all">
              {% if video.video_detail.title|length > 65 %}
              <div class="font-semibold capitalize tooltip hover:underline"><a
                  href="{{video.get_absolute_url}}">{{video.video_detail.title|truncatechars:65}}</a>
                <p class="tooltiptext text-sm bg-gray-700 text-white py-2 px-3 rounded-lg">{{video.video_detail.title}}
                </p>
              </div>
              {%else%}
              <div class="font-semibold capitalize hover:underline"><a href=" {{video.get_absolute_url}}">
                  {{video.video_detail.title}}</a></div>
              {%endif%}
              <div class="text-sm hover:underline"><a
                  href="{%url 'channel' video.channel.slug%}">{{video.channel.name}}</a></div>
              <div class="flex text-xs">
                <div class="text-gray-500 flex-shrink-0">{{video.view_count.count}} views</div>
                <div>&nbsp;&bull;&nbsp;</div>
                <div class="flex-shrink-0">{{video.uploaded|timesince}} ago</div>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
        {%else%}
        <div class="bg-white px-4 py-2 grid grid-cols-1 xl:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4 mb-8">
          {%for video in videos_in_playlist%}
          <div class="bg-white rounded shadow-md">
            <div class="relative overflow-hidden">
              <a href="{{video.get_absolute_url}}">
                <img src="{{video.video_detail.thumbnail.url}}" alt="" class="w-full h-48 object-cover" />
                <div
                  class="bg-black text-white font-semibold text-sm rounded-lg absolute bottom-0 right-0 m-1 py-1 px-2">
                  {{video.video_detail.durations}}
                </div>
                <div
                  class="bg-red-200 py-1 px-2 m-1 rounded-lg absolute font-semibold top-0 left-0 text-xs flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="mr-1 h-4 w-4 inline-block text-red-500"
                    viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                      clip-rule="evenodd" />
                  </svg><span class="love-text">{{video.favorite_percent}}%</span>
                </div>
              </a>
            </div>
            <div class="py-2 px-1 flex-col justify-center break-all">
              {% if video.video_detail.title|length > 65 %}
              <div class="font-semibold capitalize tooltip hover:underline"><a
                  href="{{video.get_absolute_url}}">{{video.video_detail.title|truncatechars:65}}</a>
                <p class="tooltiptext text-sm bg-gray-700 text-white py-2 px-3 rounded-lg">{{video.video_detail.title}}
                </p>
              </div>
              {%else%}
              <div class="font-semibold capitalize hover:underline"><a href=" {{video.get_absolute_url}}">
                  {{video.video_detail.title}}</a></div>
              {%endif%}
              <div class="flex text-xs">
                <div class="text-gray-500 flex-shrink-0">{{video.view_count.count}} views</div>
                <div>&nbsp;&bull;&nbsp;</div>
                <div class="flex-shrink-0">{{video.uploaded|timesince}} ago</div>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
        {%endif%}
        {%else%}
        <div class="bg-white px-4 py-2 mb-8 text-xl tracking-wide rounded">Do not have any videos...</div>
        {%endif%}

        {%endblock%}
      </div>
    </div>
    {%endif%}
    {%endblock%}
  </div>
</main>
{%endblock%}

{% block extra_body %}
<script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script src="{%static 'js/ajax.js/'%}"></script>
{% endblock %}