{%extends 'main/channel.html'%}
{%load static%}
{%block message%}
<ul class="messages hidden cursor-pointer relative top-24 bg-green-300 p-2 font-semibold flex-col">
    <li class="flex justify-center"><span>You have successfully updated this video</span></li>
</ul>
{%endblock message%}
{%block main%}
<div class="bg-primarybgu px-4 py-2 border-b border-gray-200 flex justify-between">
    <div>Edit: {{videos.video_detail}}</div>
    <div class="text-blue-400"><a href="{% url 'channel' channel.slug %}">Back to Channel</a></div>
</div>
<div class="bg-white pr-40 py-2 mb-8">
    <form action="{%url 'processing_edit_myvideos' videos.id %}" enctype="multipart/form-data"
        class="form-edit-myvideos m-auto">
        {%csrf_token%}
        <div class="flex w-full items-center my-5 pl-8">
            <label class="font-semibold w-1/3" for="">Title</label>
            <div class="w-full"><input type="text" name="title" id="title" placeholder="Title" required
                    value="{{videos.video_detail.title}}"
                    class="w-full h-9 border-gray-300 border focus:outline-none py-1 px-3 rounded bg-gray-50">
            </div>
        </div>
        <div class="flex w-full items-center mb-5 pl-8">
            <label class="font-semibold w-1/3" for="">Description</label>
            <div class="w-full"><textarea name="description" id="description" rows="8" cols="30"
                    placeholder="Write something for your video..."
                    class="w-full h-24 border-gray-300 border focus:outline-none py-1 px-3 rounded bg-gray-50 resize-none">{{videos.video_detail.description}}</textarea>
            </div>
        </div>
        <div class="flex w-full items-center mb-5 pl-8">
            <label class="font-semibold w-1/3" for="">Thumbnail Video</label>
            <div class="w-full">
                <input type="file" accept="image/*" class="bg-gray-100 rounded cursor-pointer shadow" name="thumbnail" id="thumbnail">
            </div>
        </div>
        <div class="flex w-full items-center mb-5 pl-8">
            <label class="font-semibold w-1/3" for="">Category</label>
            <div class="w-full">
                <select name="category" id="category"
                    class="border-gray-300 border focus:outline-none py-1 px-3 rounded bg-gray-50">
                    <option value="{{videos.video_detail.category.id}}">{{videos.video_detail.category}}</option>
                    {%for category in other_category%}
                    <option value="{{category.id}}">{{category}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <div class="flex w-full items-center mb-5 pl-8">
            <label class="font-semibold w-1/3" for="">Visibility</label>
            <div class="w-full">
                <select name="visibility" id="visibility"
                    class="border-gray-300 border focus:outline-none py-1 px-3 rounded bg-gray-50">
                    {% if videos.video_detail.visibility == True %}
                    <option value="True">Public</option>
                    <option value="False">Private</option>
                    {%else%}
                    <option value="False">Private</option>
                    <option value="True">Public</option>
                    {%endif%}
                </select>
            </div>
        </div>

        <div class="flex w-full items-center justify-center my-5">
            <button type="submit"
                class="btn-edit-myvideos text-white bg-blue-400 hover:bg-blue-500 px-4 py-2 rounded focus:outline-none">Save
                Changes</button>
        </div>

    </form>
</div>

{%endblock%}

{% block extra_body %}
<script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script src="{%static 'js/ajax.js/'%}"></script>
{% endblock %}