{%extends 'main/videos_show.html'%}
{%load static%}
{%load custom_tags%}
{%block videos_content%}
{%if videos%}
{% if videos.paginator.num_pages > 1 %}
<div class="pagination mb-6">
    <span class="step-links flex items-center justify-center">
        {% if videos.has_previous %}
        <a href="{%url 'video_show'%}?category={{category_name}}&page=1" class="px-2 border border-gray-400 hover:bg-gray-300 delay-75 rounded-tl rounded-bl">&laquo;</a>
        <!-- <a href="{%url 'video_show'%}?category={{category_name}}&page={{ videos.previous_page_number }}" class="px-2 border border-gray-400 hover:bg-gray-300">Previous</a> -->
        {% endif %}
        
        {% for page in videos.paginator.num_pages|times %}
        {%if videos.number == page %}
        <a href="{%url 'video_show'%}?category={{category_name}}&page={{ page }}" class="px-2 border border-gray-400 text-white bg-green-500">{{page}}</a>
        {%else%}
        <a href="{%url 'video_show'%}?category={{category_name}}&page={{ page }}" class="px-2 border border-gray-400 delay-75 hover:bg-gray-300">{{page}}</a>
        {%endif%}
        {%endfor%}

        {% if videos.has_next %}
        <!-- <a href="{%url 'video_show'%}?category={{category_name}}&page={{ videos.next_page_number }}" class="px-2 border border-gray-400 hover:bg-gray-300">Next</a> -->
        <a href="{%url 'video_show'%}?category={{category_name}}&page={{ videos.paginator.num_pages }}" class="px-2 border border-gray-400 hover:bg-gray-300 delay-75 rounded-tr rounded-br">&raquo;</a>
        {% endif %}
    </span>
</div>
{%endif%}
<div class="mt-4 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
    {%for video in videos%}
    <div class="bg-white rounded shadow-md">
        <div class="relative rounded-t overflow-hidden">
            <a href="{{video.get_absolute_url}}">
                <img src="{{video.video_detail.thumbnail.url}}" alt="" class="w-full h-48 object-cover" />
                <div
                    class="bg-black text-white font-semibold text-sm rounded-lg absolute bottom-0 right-0 m-1 py-1 px-2">
                    {{video.video_detail.durations}}
                </div>
                <div
                    class="bg-red-200 py-1 px-2 m-1 rounded-lg absolute font-semibold top-0 left-0 text-xs flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="mr-1 h-4 w-4 inline-block text-red-500"
                        viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                            clip-rule="evenodd" />
                    </svg><span class="love-text">{{video.favorite_percent}}%</span>
                </div>
            </a>
        </div>
        <div class="flex py-2 px-2 space-x-4 break-all">
            <div class="flex-shrink-0">
                <div class="rounded-full overflow-hidden"><a href="{%url 'channel' video.channel.slug%}"><img
                            src="{{video.channel.avatar.url}}" alt="" class="w-9 h-9 object-cover" /></a>
                </div>
            </div>
            <div class="w-full flex-col justify-center">
                {% if video.video_detail.title|length > 60 %}
                <div class="font-semibold capitalize tooltip hover:underline"><a
                        href="{{video.get_absolute_url}}">{{video.video_detail.title|truncatechars:60}}</a>
                    <p class="tooltiptext text-sm bg-gray-700 text-white py-2 px-3 rounded-lg">
                        {{video.video_detail.title}}</p>
                </div>
                {%else%}
                <div class="font-semibold capitalize hover:underline"><a href=" {{video.get_absolute_url}}">
                    {{video.video_detail.title}}</a></div>
                {%endif%}
                <div class="text-sm hover:underline"><a
                        href="{%url 'channel' video.channel.slug%}">{{video.channel.name}}</a></div>
                <div class="flex text-xs">
                    <div class="text-gray-500 flex-shrink-0">{{video.view_count.count}} views</div>
                    <div>&nbsp;&bull;&nbsp;</div>
                    <div class="flex-shrink-0">{{video.uploaded|timesince}} ago</div>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{%else%}
<div class="p-2 text-xl tracking-widest">Do not have any videos...</div>
{%endif%}
{%endblock videos_content%}
{%block categories_content%}
<div class="mt-4 bg-white rounded-lg overflow-hidden tracking-widest cursor-pointer">
    <div class="border-t hover:bg-gray-300">
        <a href="{%url 'video_show'%}" class="inline-block w-full p-4">View All</a>
    </div>
    {%for category in categories%}
    {% if category.name == category_name %}
    <div class="border-t bg-blue-400 text-white">
        <a href="{%url 'video_show'%}?category={{category.name}}" class="inline-block w-full p-4">{{category.name}}</a>
    </div>
    {%else%}
    <div class="border-t hover:bg-gray-300">
        <a href="{%url 'video_show'%}?category={{category.name}}" class="inline-block w-full p-4">{{category.name}}</a>
    </div>
    {%endif%}
    {%endfor%}
</div>{%endblock categories_content%}
{% block extra_body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{%static 'js/ajax.js/'%}"></script>
{% endblock %}