{% load static %}
{% load custom_tags %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static '../static/css/style.css' %}" />
  <link rel="stylesheet" href="{% static '../static/css/custom.css' %}" />
  <title>{% block head_title %} Videos {% endblock %}</title>
  {% block extra_head %}{% endblock %}
</head>

<body class="bg-gray-200 font-sans">
  <!-- content wrapper-->
  {% block body %} {% include 'main/topnav_videos.html'%}
  {% include 'main/navbar_videos.html' %}
  {%block message%}
  {% if form.errors %}
  <ul class="messages cursor-pointer relative top-24 bg-red-300 p-2 font-semibold flex-col">
    {% for key, value in form.errors.items %}
    <li class="flex justify-center">*{{ value }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if error_message %}
  <ul class="messages cursor-pointer relative top-24 bg-red-300 p-2 font-semibold flex-col">
    <li class="flex justify-center"><span>{{ error_message }}</span></li>
  </ul>
  {% endif %}
  {% if success_message %}
  <ul class="messages cursor-pointer relative top-24 bg-green-300 p-2 font-semibold flex-col">
    <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ messages }}</li> -->
    <li class="flex justify-center"><span>{{ success_message }}</span></li>
  </ul>
  {% endif %}
  {% if remind_message %}
  <ul class="messages cursor-pointer relative top-24 bg-green-300 p-2 font-semibold flex-col">
    <li class="flex justify-center"><span>{{ remind_message }}</span></li>
  </ul>
  {% endif %}
  {%endblock message%}
  {% block content %}
  <main class="w-full relative top-24 mt-4 overflow-hidden">
    <div class="xl:w-292.5 lg:w-242.5 md:w-187.5 mx-auto px-4">
      <div class="flex justify-between font-medium text-lg tracking-wide pb-2 border-b border-gray-300">
        <h4>
          Recommend Videos
        </h4>
        <span class="text-blue-400"><a href="{%url 'video_show'%}">View more...</a></span>
      </div>
      {%if videos%}
      <div class="my-4 grid grid-cols-1 xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-4 py-2 px-4">
        {%for video in videos|sort_by:'-uploaded'|slice:":12"%}
        <div class="bg-white rounded shadow-md">
          <div class="relative rounded-t overflow-hidden">
            <a href="{{video.get_absolute_url}}">
              <img src="{{video.video_detail.thumbnail.url}}" alt="" class="w-full h-48 object-cover" />
              <div class="bg-black text-white font-semibold text-sm rounded-lg absolute bottom-0 right-0 m-1 py-1 px-2">
                {{video.video_detail.durations}}
              </div>
              <div
                class="bg-red-200 py-1 px-2 m-1 rounded-lg absolute font-semibold top-0 left-0 text-xs flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="mr-1 h-4 w-4 inline-block text-red-500"
                  viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                    clip-rule="evenodd" />
                </svg><span class="love-text">{{video.favorite_percent}}%</span>
              </div>
            </a>
          </div>
          <div class="flex py-2 px-2 space-x-4 break-all">
            <div class="flex-shrink-0">
              <div class="rounded-full overflow-hidden"><a href="{%url 'channel' video.channel.slug%}"><img
                    src="{{video.channel.avatar.url}}" alt="" class="w-9 h-9 object-cover" /></a>
              </div>
            </div>
            <div class="w-full flex-col justify-center">
              {% if video.video_detail.title|length > 55 %}
              <div class="font-semibold capitalize tooltip hover:underline"><a
                  href="{{video.get_absolute_url}}">{{video.video_detail.title|truncatechars:55}}</a>
                <p class="tooltiptext text-sm bg-gray-700 text-white py-2 px-3 rounded-lg">{{video.video_detail.title}}
                </p>
              </div>
              {%else%}
              <div class="font-semibold capitalize hover:underline"><a href=" {{video.get_absolute_url}}">
                {{video.video_detail.title}}</a></div>
              {%endif%}
              <div class="text-sm hover:underline"><a
                  href="{%url 'channel' video.channel.slug%}">{{video.channel.name}}</a></div>
              <div class="flex text-xs">
                <div class="text-gray-500 flex-shrink-0">{{video.view_count.count}} views</div>
                <div>&nbsp;&bull;&nbsp;</div>
                <div class="flex-shrink-0">{{video.uploaded|timesince}} ago</div>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
      {%else%}
      <div class="py-2 px-4 my-4 text-xl tracking-widest">Do not have any videos...</div>
      {%endif%}
      
      <div class=" flex justify-between font-medium text-lg tracking-wide pb-2 border-b border-gray-300">
        <h4>
          Most Favorite Videos
        </h4>
        <span class="text-blue-400"><a href="{%url 'video_show'%}">View more...</a></span>
      </div>
      {%if videos%}
      <div class="my-4 grid grid-cols-1 xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-4 py-2 px-4">
        {%for video in videos|sort_by:'-uploaded'|slice:":12"%}
        {% if video.favorite_percent > 60 %}
        <div class="bg-white rounded shadow-md">
          <div class="relative rounded-t overflow-hidden">
            <a href="{{video.get_absolute_url}}">
              <img src="{{video.video_detail.thumbnail.url}}" alt="" class="w-full h-48 object-cover" />
              <div class="bg-black text-white font-semibold text-sm rounded-lg absolute bottom-0 right-0 m-1 py-1 px-2">
                {{video.video_detail.durations}}
              </div>
              <div
                class="bg-red-200 py-1 px-2 m-1 rounded-lg absolute font-semibold top-0 left-0 text-xs flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="mr-1 h-4 w-4 inline-block text-red-500"
                  viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                    clip-rule="evenodd" />
                </svg><span class="love-text">{{video.favorite_percent}}%</span>
              </div>
            </a>
          </div>
          <div class="flex py-2 px-1 space-x-4 break-all">
            <div class="flex-shrink-0">
              <div class="rounded-full overflow-hidden"><a href="{%url 'channel' video.channel.slug%}"><img
                    src="{{video.channel.avatar.url}}" alt="" class="w-9 h-9 object-cover" /></a>
              </div>
            </div>
            <div class="w-full flex-col justify-center">
              {% if video.video_detail.title|length > 55 %}
              <div class="font-semibold capitalize tooltip hover:underline"><a
                  href="{{video.get_absolute_url}}">{{video.video_detail.title|truncatechars:55}}</a>
                <p class="tooltiptext text-sm bg-gray-700 text-white py-2 px-3 rounded-lg">{{video.video_detail.title}}
                </p>
              </div>
              {%else%}
              <div class="font-semibold capitalize hover:underline"><a href=" {{video.get_absolute_url}}">
                {{video.video_detail.title}}</a></div>
              {%endif%}
              <div class="text-sm hover:underline"><a
                  href="{%url 'channel' video.channel.slug%}">{{video.channel.name}}</a></div>
              <div class="flex text-xs">
                <div class="text-gray-500 flex-shrink-0">{{video.view_count.count}} views</div>
                <div>&nbsp;&bull;&nbsp;</div>
                <div class="flex-shrink-0">{{video.uploaded|timesince}} ago</div>
              </div>
            </div>
          </div>
        </div>
        {%endif%}
        {%endfor%}
      </div>
      {%else%}
      <div class=" py-2 px-4 my-4 text-xl tracking-widest">Do not have any videos...</div>
          {%endif%}
        </div>
  </main>
  {% endblock content %} {% endblock body %}
  {% block extra_body %}
  <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
  </script>
  <script src="{%static 'js/ajax.js/'%}"></script>
  {% endblock %}
</body>

</html>