{%extends 'channel.html'%}
{%block content_channel%}
<div class="mb-4">
    <ul class="flex justify-between border-b border-gray-300">
        <ul class="flex">
            <li class="bg-blue-400 text-white px-3 py-2 rounded-t mr-1 cursor-pointer">Personal</li>
            <li class="hover:bg-gray-300 text-black px-3 py-2 rounded-t"><a href="#">Profile
                    Picture</a></li>
        </ul>
        <li class="hover:bg-gray-300 text-black px-3 py-2 rounded-t mr-4"><a href="{%url 'channel' channel.slug%}">Back
                to Channel</a>
        </li>
    </ul>
</div>
<div class="w-full bg-white rounded shadow-md">
    <form action="" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="flex w-full">
            <div class="w-1/2 py-2 px-4">
                <h1 class="text-2xl border-b border-gray-300 mb-4">Channel Information</h1>
                <div class="flex w-full items-center justify-between mb-8">
                    <label class="font-semibold pl-8 w-1/3" for="id_name">Name:</label>
                    <div class="w-full"><textarea name="name" id="id_name" placeholder="Name" rows="1" required
                            class="w-full border-gray-300 border focus:outline-none py-2 px-3 rounded bg-gray-50 resize-none overflow-hidden">{{channel.name}}</textarea>
                    </div>
                </div>
                <div class="flex w-full items-center justify-between mb-8">
                    <label class="font-semibold pl-8 w-1/3" for="id_description">Description:</label>
                    <div class="w-full"><textarea name="description" id="id_description" rows="2"
                            placeholder="Write something about your channel"
                            class="w-full h-24 border-gray-300 border focus:outline-none py-2 px-3 rounded bg-gray-50 resize-none">{{channel.description}}</textarea>
                    </div>
                </div>
                <div class="flex w-full items-center justify-between mb-8">
                    <label class="font-semibold pl-8 w-1/3" for="id_avatar">Avatar:</label>
                    <div class="w-full"><input type="file" name="avatar" id="id_avatar" class="w-full">
                    </div>
                </div>
            </div>
        </div>
        <div class="flex w-full">
            <div class="flex w-1/2 items-center justify-between py-2 px-4">
                <label class="font-semibold pl-8 w-1/3" for=""></label>
                <div class="w-full"><button type="submit"
                        class="text-white bg-blue-400 hover:bg-blue-500 px-3 py-2 rounded focus:outline-none">Save
                        Changes</button>
                </div>
            </div>
        </div>
    </form>
</div>
{%endblock%}