{%extends 'videos_show.html'%}
{%load static%}
{%load custom_tags%}
{%block videos_content%}
{%if videos%}
<div class="mt-4 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
    {%for video in videos%}
    <div class="bg-white rounded shadow-md">
        <div class="relative rounded-t overflow-hidden">
            <a href="{{video.get_absolute_url}}">
                <img src="{{video.video_detail.thumbnail.url}}" alt="" class="w-full h-48 object-cover" />
                <div class="
                bg-black
                text-white
                font-semibold
                text-sm
                rounded-lg
                absolute
                bottom-0
                right-0
                m-1
                py-1
                px-2
              ">
                    {{video.video_detail.durations}}
                </div>
            </a>
        </div>
        <div class="flex py-2 px-1 space-x-4">
            <div class="flex-shrink-0">
                <div class="rounded-full overflow-hidden"><a href="{%url 'channel' video.channel.slug%}"><img
                            src="{{video.channel.avatar.url}}" alt="" class="w-9 h-9 object-cover" /></a>
                </div>
            </div>
            <div class="w-full flex-col justify-center">
                {% if video.video_detail.title|length > 50 %}
                <div class="font-semibold capitalize tooltip hover:underline"><a
                        href="{{video.get_absolute_url}}">{{video.video_detail.title|truncatechars:45}}</a>
                    <p class="tooltiptext text-sm bg-gray-700 text-white py-2 px-3 rounded-lg">
                        {{video.video_detail.title}}</p>
                </div>
                {%else%}
                <div class="font-semibold capitalize hover:underline""><a href=" {{video.get_absolute_url}}">
                    {{video.video_detail.title}}</a></div>
                {%endif%}
                <div class="text-sm hover:underline"><a
                        href="{%url 'channel' video.channel.slug%}">{{video.channel.name}}</a></div>
                <div class="flex text-xs">
                    <div class="text-gray-500 flex-shrink-0">{{video.view_count.count}} views</div>
                    <div>&nbsp;&bull;&nbsp;</div>
                    <div class="flex-shrink-0">{{video.uploaded|timesince}} ago</div>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{%else%}
<div class="p-2 text-xl tracking-widest">Do not have any videos...</div>
{%endif%}
{%endblock videos_content%}
{%block categories_content%}
<div class="mt-4 bg-white rounded-lg overflow-hidden tracking-widest cursor-pointer">
    <div class="border-t hover:bg-gray-300">
        <a href="{%url 'video_by_cat' 'All'%}" class="inline-block w-full p-4">View All</a>
    </div>
    {%for category in categories%}
    {% if category.name == category_name %}
    <div class="border-t bg-blue-400 text-white">
        <a href="{%url 'video_by_cat' category.name%}" class="inline-block w-full p-4">{{category.name}}</a>
    </div>
    {%else%}
    <div class="border-t hover:bg-gray-300">
        <a href="{%url 'video_by_cat' category.name%}" class="inline-block w-full p-4">{{category.name}}</a>
    </div>
    {%endif%}
    {%endfor%}
</div>{%endblock categories_content%}
{% block extra_body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{%static 'js/ajax.js/'%}"></script>
{% endblock %}